<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <array>
        <dict>
            <key>shareImage</key>
            <string>share_wjjhaoyou</string>
            <key>shareName</key>
            <string>网++好友</string>
        </dict>
        <dict>
            <key>shareImage</key>
            <string>share_shenghuoquan</string>
            <key>shareName</key>
            <string>生活圈</string>
        </dict>
        <dict>
            <key>shareImage</key>
            <string>share_wechat</string>
            <key>shareName</key>
            <string>微信</string>
        </dict>
        <dict>
            <key>shareImage</key>
            <string>share_pengyouquan</string>
            <key>shareName</key>
            <string>朋友圈</string>
        </dict>
        <dict>
            <key>shareImage</key>
            <string>share_qq</string>
            <key>shareName</key>
            <string>QQ好友</string>
        </dict>
        <dict>
            <key>shareImage</key>
            <string>share_weibo</string>
            <key>shareName</key>
            <string>新浪微博</string>
        </dict>
        <dict>
            <key>shareImage</key>
            <string>share_safari</string>
            <key>shareName</key>
            <string>Safari打开</string>
        </dict>
    </array>
</plist>
